.container {
    margin-top: 20px;
    width: 90%;
    height: 100px;
    font-family: sans-serif;
    background-color: #F8F2E8;
    color: #bfbbb3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    display: flex;
    justify-content: flex-start;
}

.conditions {
    display: flex;
    justify-content: right;
}

.fa-envelope, .fa-facebook, .fa-twitter, .fa-instagram {
    color: darkgrey;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

