footer {
    font-family: sans-serif;
    background-color: #F8F2E8 ;
    color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    width: 90%;
}

.left {
    float: left;
}
.right {
    float: right;
}

a{
    text-decoration-line: none;
}

.fa-envelope, .fa-facebook-f, .fa-twitter, .fa-instagram{
    color: darkgrey;
    margin: 10px;
}
